
body {

    font-family: sans-serif;
    background: rgb(219, 255, 213);
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.modal-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #35ff7c;
    text-align: center;
}

.modal-box .user-box {
    position: relative;
}

.modal-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}
.modal-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: 0.5s;
}

.modal-box .user-box input:focus ~ label,
.modal-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #35ff7c;
    font-size: 12px;
}

.modal-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #35ff7c;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 10px;
    letter-spacing: 4px;
}

.modal-box button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 10px;
    letter-spacing: 4px;
    border: none;
    background: #35ff7c;
    color: #fff;
    border-radius: 5px;
    margin-left: 35%;
}

a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #35ff7c;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 10px;
    letter-spacing: 4px;

}
